.App {
  background-color: #423974;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  text-align: center;
  background-color: #423974;
  padding-top: 4vh;
  display: flex;
  flex-direction: column;
  font-size: calc(3px + 2vmin);
}

.main-back {
  background-color: #423974;
  min-height: 100vh;
}
